body{
    background-color: rgb(255, 234, 232);
}

#my-container-app{
    height: 100vh;
    width: 100vh;
    background-color: white;
    position:relative;
}
#my-jumbotron{
    background-color: rgb(226, 173, 73);
}

#my-footer-app{
    background-color: rgb(175, 8, 78);
}